appdirs==1.4.3
beautifulsoup4==4.6.0
callr==2.1.0
future==0.16.0
google-api-python-client==1.6.2
httplib2==0.10.3
lxml==3.7.3
oauth2client==4.1.0
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pygsheets==1.1.1
pyparsing==2.2.0
pyshorteners==0.6.0
requests==2.14.2
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
